/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Audio';
    src: url('assets/fonts/Audiowide-Regular.ttf');
}

*, *::before, *::after {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-size: .7rem;
    font-family: 'Audio';
    background-color: #343541;
}
